.cout{
    background-image: url(https://cdn.pixabay.com/photo/2015/12/09/01/02/mandalas-1084082_960_720.jpg);
    background-position: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }